<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
          <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
          <typeAlias alias="UsersVO" type="com.bebe.spring.vo.UsersVO" />
          <typeAlias alias="ProductOptionsVO" type="com.bebe.spring.vo.ProductOptionsVO"/> 
          <typeAlias alias="ProductSearchVO" type="com.bebe.spring.vo.ProductSearchVO"/> 
          <typeAlias alias="OptionsVO" type="com.bebe.spring.vo.OptionsVO"/> 
          <typeAlias alias="OrdersVO" type="com.bebe.spring.vo.OrdersVO"/> 
          <typeAlias alias="OrdersSearchVO" type="com.bebe.spring.vo.OrdersSearchVO"/> 
          <typeAlias alias="ProductOrdersVO" type="com.bebe.spring.vo.ProductOrdersVO"/> 
          <typeAlias alias="OrdersAddressVO" type="com.bebe.spring.vo.OrdersAddressVO"/> 
    </typeAliases>
</configuration>


