.footer {
  display: flex;
  background-color:#fff;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.footer .logobox {
  float: left;
  margin-right: 100px;
}
.footer .add-info h2 {
  color: black;
}
.footer .add-info {
  text-align: left;
  margin: 0 auto;
  font-size: 12px;
  color: #707070;
  margin-left: 50px;
  margin-right: 50px;
}
.footer .call {
  text-align: left;
  display: flex;
}
.footer .call img {
  width: 25px;
  height: 20px;
}

.footer .call-info {
  text-align: left;
  margin: 0 auto;
  font-size: 10px;
  color: #707070;
}
.word {
  font-size: 13px;
  margin-top: 20px;
}
