* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: #badbf9;
    display: flex;
}

header {
    width: 100vw;
    height: 100px;
    position: fixed;
    background-color: #fff;
    border: 1px solid #707070;
    box-shadow: 3px 3px 3px #0909094a;
}

header .headerbx {
    width: 80%;
    margin: 0 auto;
}

.main {
    height: 100vh;
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

.menu:hover {
    color: black;
}

.menu {
    transition: .3s;
}

.aside {
    position: fixed;
    top: 20%;
    left: 13%;
    width: 200px;
    height: 400px;
    box-shadow: 3px 3px 0px 0px rgb(212, 209, 209);
}

.menu img {
    width: 25px;
    float: left;
}

.name {
    height: 100px;
    padding: 20px;
    background-color: #badbf9;
    border-radius: 5px 5px 0 0;
    border: 1px solid black;
}

.name>p {
    font-size: 12px;
}

.point {
    text-align: center;
    height: 150px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.point>img {
    margin-top: 20px;
    width: 50%;
}


/* .point>h4 {
    margin-bottom: 5px;
}

.point a {
    background-color: white;
    font-size: 12px;
    border: 1px solid grey;
} */

.menu {
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid black;
    background-color: #fff;
}

.menu p {
    margin-left: 40px;
}

.mainbox {
    position: relative;
    width: 75%;
    height: 500px;
    top: 20%;
    left: 20%;
}