* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.outbox {
  display: flex;
  align-items: center;
  justify-content: center;
  /* 높이를 기준으로 가운데 정렬 */
  height: 100vh;
}
div h1 {
  /* 글자 가운데 정렬 */
  text-align: center;
  font-size: 40px;
  font-family: "맑은 고딕";
  font-weight: bold;
  margin-bottom: 10px;
}
.constent {
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid #badbf9;
  width: 325px;
  height: 430px;
}
.constent h1 {
  font-size: 20px;
  font-family: "맑은 고딕", sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* 약관내용 */
.constent .text {
  margin-bottom: 5px;
  resize: none;
}
.constent .text1 {
  margin-top: 10px;
  margin-bottom: 5px;
  resize: none;
}
/* 동의 체크박스 */
.constent div .agr {
  width: 15px;
  height: 25px;
  margin-left: 120px;
}
.constent .checkbox .agr + label {
  position: relative;
  top: -8px;
  left: 5px;
  font-size: 10px;
  color: black;
}
/* 비동의 체크박스*/
.constent div .disagr {
  width: 15px;
  height: 25px;
  margin-left: 20px;
}
.constent .checkbox .disagr + label {
  position: relative;
  top: -8px;
  left: 5px;
  font-size: 10px;
  color: #707070;
}
.constent .btn {
  width: 250px;
  height: 35px;
  margin: 1px;
  background-color: #badbf9;
  color: white;
  font-weight: bold;
  border: 1px #badbf9;
}
.constent .btn:hover {
  color: #badbf9;
  background-color: white;
}
