* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  width: 100vw;
  height: 100vh;
  background-color: #badbf9;
}
header {
  width: 100vw;
  height: 100px;
  position: fixed;
  background-color: #fff;
  border: 1px solid #707070;
  box-shadow: 3px 3px 3px #0909094a;
}
header .headerbx {
  width: 80%;
  margin: 0 auto;
}

.main {
  height: 100vh;
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
}

.post {
  padding: 150px 0px 0px 0px;
  width: 80%;
  margin: auto;
}

.post .postSubject {
  width: 80px;
  height: 40px;
  background-color: #fff;
  border: 2px solid;
  border-color: #707070;
  font-weight: bold;
  padding: 5px;
  margin-right: 10px;
}

.postTitle {
  padding: 50px 0px 0px 0px;
  width: 80%;
  margin: auto;
}

.postMain {
  padding: 50px 0px 0px 0px;
  width: 80%;
  margin: auto;
  border-color: #707070;
}

.title {
  width: 100%;
  height: 30px;
  border: 2px solid;
  border-color: #707070;
  padding: 10px;
}

textarea {
  resize: none;
  width: 100%;
  height: 200px;
  border: 2px solid;
  border-color: #707070;
  padding: 10px;
}

.buttonMenu {
  width: 80%;

  margin: auto;
  text-align: right;
}

.button {
  width: 60px;
  height: 30px;
  background-color: #badbf9;
  color: white;
  font-weight: bold;
  border: 1px #badbf9;
  margin-left: 3px;
}
.button:hover {
  color: #badbf9;
  background-color: white;
}
