<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bebe.spring.mappers.userMapper">
	<insert id="register">
		INSERT INTO users ( id , passwd , email,question,answer)
		 VALUES ( #{id} , #{passwd} , #{email} ,
		#{question}, #{answer} ) </insert>
</mapper>

