.page_name>hr {
    margin-top: 10px;
    border-top: solid 3px black;
}

.log_date {
    width: 130px;
    height: 23px;
    margin-top: 10px;
}

.category {
    width: 100px;
    font-size: 10px;
    height: 23px;
    box-shadow: 2px 2px 2px 2px #cfcfcf;
}

#search {
    width: 150px;
    height: 23px;
    font-size: 15px;
}

#btn {
    width: 90px;
    height: 25px;
    background-color: #badbf9;
    color: white;
    font-weight: bold;
    border: 1px #badbf9;
    box-shadow: 1px 1px 1px 1px #cfcfcf;
}

#btn:hover {
    color: #badbf9;
    background-color: white;
}

.log_table>hr {
    margin-top: 10px;
    border-top: 2px solid #cfcfcf;
}

.log_table table {
    width: 1150px;
    text-align: center;
}

.log_table table tr th {
    background-color: #cfcfcf;
}

.log_table table tr td,
.log_table table tr th {
    border-bottom: solid 1px #cfcfcf;
    height: 30px;
}

.log_table table tr td {
    font-size: 12px;
}

.more {
    text-align: center;
}

.moreBtn {
    margin-top: 10px;
    width: 90px;
    height: 25px;
    background-color: #badbf9;
    color: white;
    font-weight: bold;
    border: 1px #badbf9;
    box-shadow: 1px 1px 1px 1px #cfcfcf;
}

.moreBtn:hover {
    color: #badbf9;
    background-color: white;
}

.menu:nth-of-type(5) {
    transform: scale3d(1.2, 1.2, 0.3) translate(-7%, -5%);
}

.purchase {
    width: 1150px;
    margin-bottom: 10px;
}

.purchase>h4 {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}