#selectboxSize,#selectboxColor{
    width: 175px;
}

.button {
    width: 60px;
    height: 30px;
    background-color: #badbf9;
    color: white;
    font-weight: bold;
    border: 1px #badbf9;
}

.button:hover {
    color: #badbf9;
    background-color: white;
}