.mainbox tr th {
    background-color: #e4e4e4;
}

/* .mainbox td,
th {
    border-bottom: 2px solid #efefef;
    height: 50px;
    font-size: 20px;
} */

/*  .mainbox {
    width: 1500px;
}  */

.mainbox td {
    text-align: center;
    height: 250px;
}

/* table {
    margin-top: 20px;
} */

.purchase {
    width: 1150px;
    margin-bottom: 10px;
}

.purchase>h4 {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.log {
    display: flex;
    align-items: center;
}

#mainCategory,
#subCategory {
    width: 80px;
    height: 30px;
    margin-right: 10px;
}

#serchvalue {
    width: 200px;
    height: 30px;
    margin-right: 10px;
}

.button {
    width: 100px;
    height: 30px;
    background-color: #badbf9;
    color: white;
    font-weight: bold;
    border: 1px #badbf9;
}

.button:hover {
    color: #badbf9;
    background-color: white;
}

#delbtn {
	margin-left: 520px;
}

#manager td div:not(#option div){
    display: flex;
    justify-content: center;
}

#manager td input {
    align-items: center;
    width: 70px;
    height: 25px;
    border-radius: 2px;
}
.log_table>hr {
    margin-top: 10px;
    border-top: 2px solid #cfcfcf;
}

.log_table table tr th {
    background-color: #cfcfcf;
    height: 30px;
}

.log_table table tr td{
    border-bottom: solid 1px #cfcfcf;
    height: 121px;
}

log_table table tr th {
	border-bottom: solid 1px #cfcfcf;
    height: 30px;
}
.log_table table tr td {
    font-size: 12px;
}

.optionC{
	font-size:15px;
	display: flex;
	justify-content: center;
}
.optionC div{
	margin: 0 20px;
	width: 45px;
}
#productmain{
	display: flex;
}

#managerTh{
	width:1150px;
}
#manager{
	width:990px;
}

#optable{
	width:160px;
}

.menu:nth-of-type(3) {
    transform: scale3d(1.2, 1.2, 0.3) translate(-7%, -5%);
}