.log_table>hr {
    margin-top: 10px;
    border-top: 2px solid #cfcfcf;
}

.log_table table {
    width: 1150px;
    text-align: center;
}

.log_table table tr th {
    background-color: #cfcfcf;
}

.log_table table tr td,
.log_table table tr th {
    border-bottom: solid 1px #cfcfcf;
    height: 30px;
}

.log_table hr {
    margin-top: 10px;
    border-top: 2px solid #cfcfcf;
}

/* .mainbox tr th {
    background-color: #e4e4e4;
}

.mainbox th {
    border-bottom: 2px solid #cfcfcf;
    height: 40px;
    font-size: 20px;
}

.mainbox td {
    border-bottom: 2px solid #efefef;
    height: 50px;
    font-size: 15px;
}

.mainbox table {
        border-collapse: collapse;
    width: 1150px;
}

.mainbox td {
    text-align: center;
} */

.purchase {
    width: 1150px;
    margin-bottom: 10px;
}

.purchase>h4 {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.mainbox .deletbtn {
    width: 60px;
    height: 30px;
    background-color: #badbf9;
    color: white;
    font-weight: bold;
    border: 1px #badbf9;
}

.idinput{
	text-align: center;
	border: none;
	font-size: 15px;
}

.mainbox .deletbtn:hover {
    color: #badbf9;
    background-color: white;
}

.menu:nth-of-type(4) {
    transform: scale3d(1.2, 1.2, 0.3) translate(-7%, -5%);
}